/*Código CSS que aplica unicamente a las vista de los documentos subidos en Detail_View_Indicator*/

/* Etiquetas de las evidencias */
.label-evidencias {
    color: #002855;
    font-family: IndivisaFontBold;
    font-size: 1rem;
    text-transform: uppercase;
}

/* Contenedor de las evidencias subidas por el usuario */
.container-evidencias {
    justify-items: start;
}

/* Estilos para la lista de evidencias subidas por el usuario */
.list-evidencias {
    list-style: none;
    padding-left: 0;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: IndivisaFont;
}

/* Estilos para cada elemento de la lista de evidencias subidas por el usuario */
.item-evidencia {
    margin-bottom: 8px;
    background: #f7f9fb;
    padding: 13px 15px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Estilos para la etiqueta del nombre de la evidencia por el usuario */
.nombreEvidencia {
    font-size: 15px;
    color: #555;
}

/* Estilos para el tipo de evidencia de cada elemento de la lista de evidencias subidas por el usuario */
.tipo-evidencia {
    margin-left: 8px;
    color: #555;
    font-size: 0.9em;
}

/* Estilos para el estado de las evidencias subidas por el usuario */
.estado-evidencias {
    margin-top: 10px;
    font-weight: 600;
    font-family: IndivisaFont;
    text-align: center;
}

/* Responsividad para móviles (anchura )*/
@media (min-width: 320px) and (max-width: 768px) {
    .container-evidencias {
        justify-items: center;
    }

    .item-evidencia {
        display: flex;
        flex-direction: column;
    }

    .nombreEvidencia {
        font-size: 12px;
    }

    .tipo-evidencia {
        margin-left: 0px;
        margin-top: 8px;
    }
}
