ApiBaseUrl=

Email__SmtpServer=
Email__SmtpPort=
Email__SmtpUser=
Email__SmtpPass=


AzureAd__Instance=
AzureAd__Domain=
AzureAd__TenantId=
AzureAd__ClientId=
AzureAd__ClientSecret=
AzureAd__CallbackPath=